# Code 'n Load systemd unit for ssh tunnel.
# Copyright (C) 2018  Pablo Ridolfi - Code 'n Load
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=Code 'n Load AutoSSH tunnel
After=network.target

[Service]
EnvironmentFile=/etc/cnl.conf
ExecStart=/usr/bin/autossh -M 0 -- -i ${CNL_SSH_KEY} -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -N ${CNL_SSH_USER}@${CNL_SSH_SERVER_URL} -p${CNL_SSH_SERVER_PORT} -R ${CNL_SSH_REMOTE_PORT}:localhost:${CNL_SSH_LOCAL_PORT}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
